body {
    padding: 0%;
    margin: 0%;
}

header {
    background: #01d5ff linear-gradient(#01d5ff, #001f25);
    height: 45%;
}

@media screen and (min-width: 480px) {
    header {
        background: #01ffb3 linear-gradient(#01ffb3, #001f25);
        height: 45%;    
    }
}

@media screen and (min-width: 768px) {
    header {
        background: #01ff41 linear-gradient(#01ff41, #001f25);
        height: 45%;    
    }
}

@media screen and (min-width: 1024px) {
    header {
        background: #9eff01 linear-gradient(#9eff01, #001f25);
        height: 45%;    
    }
}


h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -2%;
    padding-top: 100px;
    text-align: center;
    color: white;
}

.wave {
    padding-top: 25px;
    width: 100%;
    margin-bottom: -1%;
}

.sections {
    background-color: white;
    padding-bottom: 50px;
}

section {
    padding-left: 15%;
    padding-right: 15%;
}

.align-right {
    text-align: right;
}

h2 {
    color: rgb(32, 121, 161);
}

footer {
    background-color: #001f25;
    color: white;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 40px;
    width: 100%;
}